 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(to right, #a855f7, #6366f1);
     
    }

    table {
      width: 70%;
      height: 500px;
      margin: 50px auto;
      background: white;
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    td {
      vertical-align: top;
    }

    .left {
      background-color: #00BCD4;
      color: white;
      padding: 60px 40px;
      width: 50%;
    }

    .left h2 {
      font-size: 36px;
      margin-bottom: 20px;
      text-align: center;

    }

    .left p {
      font-size: 18px;
      line-height: 1.6;
    }

    .right {
      padding: 40px;
      width: 50%;
    }

    .right h2 {
      font-size: 28px;
      margin-bottom: 20px;
      font-weight: bold;
      text-align: center;
    }

    input,
    textarea {
      width: 100%;
      padding: 12px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: none;
    }

    input[type="submit"] {
      background-color: #00BCD4;
      color: white;
      border: none;
      font-size: 16px;
      cursor: pointer;
     
    }

    input[type="submit"]:hover {
      background-color: #0097A7;
    }